@model IEnumerable<ViewCounterExample.Models.Post>

@{ }

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">

<body style="background-color: black;">

</body>

<div style="margin: 0 auto; text-align: center; padding: 350px 0; color: white; font-family: 'Staatliches', cursive; font-size: 23px;">
    @foreach (var post in Model)
    {
                <h1 style="font-weight: lighter; letter-spacing: 5px; margin-bottom: 5px;">Amount of Visitors</h1>
                <p style="font-weight: lighter; letter-spacing: 5px; margin-top: 0;">Count: <strong>@post.ViewsCount</strong></p>}
</div>